body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #00c7fc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

h1 {
  color: #ff2600;
}

#guess-info {
  margin: 20px;
}

#guess-controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

#guess-controls button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  background-color: #ff2600;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#guess-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#log {
  margin: 20px;
  white-space: pre-line;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}